@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
 
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


h1{
    margin: 0;
    padding: 0;
    color:rgb(58, 48, 48);
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 15px;
    text-shadow: 1px 1px 2px rgb(97, 94, 94);
    animation-duration: 3s;
    animation-name:slidein;
}

h2{
    color: black;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px rgb(97, 94, 94);
    }

nav{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header nav ul li a{
    color:rgb(3, 6, 30);
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 20px;
    text-shadow: 1px 1px 2px rgb(97, 94, 94);
}

nav ul{
    list-style: none;
    text-decoration: none;
    display: flex;

}


ul li{
    list-style: none;
}

ul li a{
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(97, 94, 94);
}

a:link, a:visited, a:active {
    text-decoration:none;
}   

.header{
    height: 40vh;
}

body{
    margin: 0;
    max-height: 100vh;
    background-color: rgba(134, 133, 133, 0.473);
    background-blend-mode: overlay;
    background-image: url(../img/puerto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.central{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    }

.foot{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 80px auto;
    margin-bottom: 0;
}

.foot div{
    margin: 10px;
    justify-content: center;
    align-items:baseline;
}

.mcontact{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.forma{
    margin-right: 0px;
    margin-left: 0;
}

div input{
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    background-color:rgba(red, green, rgb(168, 168, 226), 0.2);
    border:none;
    margin-top: 0;
    padding: 3px;
}

div textarea{
    margin-bottom: 10px;
    background-color:rgba(red, green, rgb(168, 168, 226), 0.2);
    border:none;
}

iframe{
    height: 370px;
    margin-left: 50px;
}

.textUs{
    display: flex;
    height: 40vh;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

p{
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-shadow: 1px 1px 2px rgb(97, 94, 94);
}

.h2us{
    font-weight: 800;
    font-size: 2rem;
    margin: 10px;
}


#header1{
    grid-area: header;
}

#servicios{
    grid-area: servicios;
}

#footer{
    grid-area: pie;
}

.contenedor{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(4;auto);
    grid-template-areas: 
    "header1 header1 header1 header1"
    "servicios servicios servicios servicios"
    "pie pie pie pie";
}

#servicios .serv1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    
    
}

#servicios .serv2{
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

#servicios .serv1 figure{
    text-align: center;
    width: 30%;
    

}

#servicios .serv2 figure{
    text-align: center;
    width: 30%;

}

#servicios .serv1 figure img{
    width: 100;
    object-fit: cover;
}

.foot2{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin top: 40px;
    margin bottom: 0;
}
    
div figure p{
    overflow-y: auto;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(97, 94, 94);
}

.foot2 div{
    justify-content: center;
    align-items:baseline ;
    margin: 10px;
}



@keyframes slidein {
  from {
    width: 300%
  }

  to {
    width: 100%;
  }
}
